<%# Display any errors %>
<% if @project.errors.any? %>
  <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%# An object called @project has been sent here, it is otherwise empty. %>

<%# form_for is a built-in view helper to generate a form.  %>
<%= simple_form_for @project, html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :due_date %>
    <%= f.association :users, as: :check_boxes, label_method: :full_name %>
    <%= f.association :tags, as: :check_boxes, label_method: :tagname %>

  <%# you can add an option to the tag below "Click to submit" %>
  <%# But don't do it and Rails will put the correct label, either "Submit" or "Update" %>
  <%= f.submit class: "btn btn-primary" %>
<%# hitting send will by default send the form to whatever the name is, pluralise it, and put _path on the end. in this case "projects_path" %>



<% end %>