<h1><%= @project.title %> </h1>
<p><%= @project.description %> </p>
<p>Due date: <%= @project.due_date %> </p>
<%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-info btn-sm" %>
<hr>

<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h3>Tasks</h3>
<%# form_for(@task), url: project_tasks_path(@project) do |f| %>  <%# This line works, but is longer  %>
<%# note the variables @project and  @task below, by convention Rails will go to /projects/id/tasks/id %>

<%= form_for [@project, @task] do |f| %>  
  <%= f.submit class: 'btn btn-primary'%>
  <%= f.text_field :title, placeholder: "Add a new task here...", :autofocus=>true, class: "form-control" %>
<% end %>
<hr>

<div>Tasks to do
  <%# @tasks.each do |task|         this was replaced by the line below   %>
  <% @tasks.where(done: false).order(:created_at => :asc).each do |task|  %> 
    <div>
      <%= link_to "Undone", project_task_path(@project, task, task:{done: true}), method: :patch, class: "btn btn-info" %> 
      <%= render partial: "/tasks/tasks", locals: {task: task}  %>
    </div>
  <% end %>  
</div>
<br>
<div>Completed tasks
  <% @tasks.where(done: true).order(:created_at => :asc).each do |task|  %> 
    <div>
      <%= link_to "Done", project_task_path(@project, task, task:{done: false}), method: :patch, class: "btn btn-info" %>
      <%= render partial: "/tasks/tasks", locals: {task: task}  %>
    </div>
  <% end %>  
</div>



<h3>Discussions</h3>
<hr>
<% @project.discussions.each do |banana| %>
  <p class =' discussion_title'> <%= banana.title %></p>
  <p class=' discussion_desc'> <%= banana.description %> 
    <span class="btn-group btn-group-xs" role="group" >
    
    <%= link_to "Edit", edit_project_discussion_path(@project, banana) , class: "btn btn-info"  %>  <%# works %>
    <%= link_to "Delete", project_discussion_path(@project, banana), method: :delete, 
      data: {confirm: "are you sure??"}, class: "btn btn-danger"  %>
    </span>

  </p>
  <hr>
<% end %>

<%= form_for [@project, @discussion]  do |f| %>
  <%=  f.text_field :title, placeholder: "Enter discussion title here...", class: 'form-control' %>
  <%=  f.text_field :description, placeholder: "Enter discussion body here...", class: 'form-control' %>
  <%= f.submit class: 'btn btn-primary'%>
<% end %>
<hr>
