<h1><%= @project.title %> </h1>
  <p><%= @project.description %> </p>
  <p>Due date: <%= @project.due_date %> </p>
  <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-info btn-sm" %>
  <hr>

<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h3>Tasks for this project:</h3>
<%# form_for(@task), url: project_tasks_path(@project) do |f| %>  <%# This line works, but is longer  %>
<%# note the variables @project and  @task below, by convention Rails will go to /projects/id/tasks/id %>

<%= form_for [@project, @task] do |f| %>  
    <%= f.text_field :title, placeholder: "Add a new task here...", class: "form-control" %>
    <%= f.submit class: 'btn btn-primary'%>
<% end %>
<hr>
  <% @tasks.each do |task| %>
    <div class="btn-group btn-group-xs" role="group" >
      <p><%= task.title %></p>
      <%= link_to "Edit", ("/projects/" + @project.id.to_s + "/tasks/" + (task.id).to_s) , method: :post, class: "btn btn-info"  %>  <%# works %>
      <%# link_to "Edit", tasks_edit_path(task) %>
      <%= link_to "Delete", project_task_path(@project, task), method: :delete, data: {confirm: "are you sure??"}, class: "btn btn-danger"  %>
    </div>
<hr>
<% end %>