<!DOCTYPE html>
<html>
<head>
  <title>PM Tool</title>
  <%= stylesheet_link_tag    'external', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    
    <%= render "layouts/navtabs" %>

    <%= yield %>
  </div>
</body>
</html>
